body{
    background-image: url('./nature.jpg');

}

.card{
    border: 2px solid black;
    background: transparent;
}

#password {
    border: 2px solid black;
}

#email {
    border: 2px solid black;
}

